* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(260deg, #6A013B,#3F0827);
    box-shadow: 0px 0px 10px #34495e;
    color: #F27505;
    height: 100vh;
    width: 100%;
    padding: 20px;
    text-shadow: 3px 3px 8px black;
    /*direction: rtl;*/
}

#app {
    position: relative;
    text-align: center;
    margin: 0 auto; 
    width: 50%;

}

button {
    width: 120px;
    height: 20px;
    margin: 10px;
}

input {
    height: 20px;
    width: 150px;
}

.size {
    width: 111px
}

.inputNumber {
    width: 35px;
}

 #deleteTodoPositionInput, #toggleComplitedPositionInput {
    width: 50px;
}

#toggleCompletedButton {
    margin-left: -105px;
}

.deleteButton {
    width: 50px;
}

ul {
    list-style-type: none;
    /*direction: rtl;*/

}